@charset "UTF-8";

:root {
	--color-green: #2e5027;
	--color-red: #6f000a;
	--color-purple: #290b26;
	--color-blue: #1483d6;
	--color-dark-blue: #34348B;
	--color-dark-grey: #242424;
	--color-grey: #535353;
	--color-light-grey: #efefef;
	
	--color-links-hover: var(--color-grey);
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: var(--color-light-grey);
	color: var(--color-dark-grey);
}

.container {
	padding-left: 50px;
	padding-right: 50px;
}

.nav-container {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 50px 1fr;
}

nav {
	background-color: var(--color-dark-grey);
	color: var(--color-light-grey);
	height: 50px;
	margin: 0px 0px 0px 0px;
	border-bottom: 5px solid var(--color-blue);
	border: 0px 0px 0px 0px:
}

.nav-links {
	padding: 15px;
}

.nav-links a {
	color: white;
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-links a:link {
	text-decoration: none;
}

.nav-links a:hover {
	background-color: var(--color-links-hover);
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 5px solid var(--color-dark-blue);
}

.nav-logo {
	background-image: url("../images/logo.png");
	background-size: 50px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.nav-logo span {
	background-image: url("../images/logo.png");
	background-size: 50px;
	width: 50px;
	height: 50px;
	display: block;
}

footer {
	margin-top: 50px;
}

.footer-bar {
	color: var(--color-light-grey);
	border-top: 5px solid var(--color-green);
	background-color: var(--color-grey);
}

.container-footer {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.table-btn {
	background-color: var(--color-light-grey);
	border: 2px solid white;
	color: white;
	width: 25px;
	height: 25px;
	padding: 0;
	margin: 2px;
	margin-right: 10px;
	text-align: center;
}

.table-btn-del {
	color: var(--color-red);
	border: 2px solid var(--color-red);
}

.table-btn-del:hover {
	border: 3px solid var(--color-red);
}

.table-btn-add {
	color: var(--color-green);
	border: 2px solid var(--color-green);
}

.table-btn-add:hover {
	border: 3px solid var(--color-green);
}
