@charset "UTF-8";

:root {
	--color-green: #2e5027;
	--color-red: #6f000a;
	--color-purple: #290b26;
	--color-grey: #242424;
	--color-light-grey: #535353;
	--color-very-light-grey: #efefef;
	
	--color-links-hover: var(--color-light-grey);
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: var(--color-very-light-grey);
}

.container {
	padding: 0px 50px 0px 50px;
}

.nav-container {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 50px 1fr;
}

nav {
	background-color: var(--color-grey);
	color: white;
	height: 50px;
	margin: 0px 0px 0px 0px;
	border-bottom: 5px solid var(--color-red);
	border: 0px 0px 0px 0px:
}

.nav-links {
	padding: 15px;
}

.nav-links a {
	color: white;
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-links a:link {
	text-decoration: none;
}

.nav-links a:hover {
	background-color: var(--color-links-hover);
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 5px solid var(--color-purple);
}

.nav-links a:active {
	background-color: var(--color-links-hover);
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 5px solid var(--color-purple);
}

.nav-logo {
	background-image: url("../images/logo.png");
	background-size: 50px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.nav-logo span {
	background-image: url("../images/logo.png");
	background-size: 50px;
	width: 50px;
	height: 50px;
	display: block;
}
