<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	  th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

	<h2>Weights</h2>
	
	<div class="container-table">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Time</th>
					<th>Weight</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="weight : ${weights}">
					<td>
						<form action="#" th:action="@{/weights/remove/?weightId=} + ${weight.id}" method="post">
							<button class="table-btn table-btn-del" type="submit">-</button>
						</form>
					</td>
					<td th:text="${weight.date}"></td>
					<td th:text="${weight.time}"></td>
					<td th:text="${weight.value}"></td>
				</tr>
				<tr>
					<form action="#" th:object="${lastWeightEntered}" th:action="@{/weights/add}" method="post">
						<td><button class="table-btn table-btn-add" type="submit">+</button></td>
						<td><input class="table-input" autofocus th:field="*{date}" th:name="date" th:type="date" placeholder="Format: 2020-12-31" /></td>
						<td><input class="table-input" th:field="*{time}" th:name="time" th:type="time" placeholder="Format: 23:59"/></td>
						<td><input class="table-input" th:field="*{value}" th:name="value" th:type="number" th:step="0.1" th:value="73.0"/></td>
					</form>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>